html,
body,
body > nav,
body > main {
  height: 100%;
  overflow: scroll;
  font-family: 'Consolas', 'Courier New', monospace;
}

body {
  padding: 0;
  margin: 0;
}

nav img {
  width: 120px;
  margin-top: 50px;
}

h1.logo {
  font-size: 2em;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  padding-left: 20px;
  overflow: auto;
  background-color: #FCF4ED;
  border-right: 1px solid #8A3062;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

nav li {
  margin: 5px 0;
}

nav ul li ul {
  margin-left: 20px;
  list-style: disc;
}

nav a {
  color: #323330;
  font-size: .85em;
}

main {
  position: absolute;
  top: 0;
  left: 290px;
  padding: 0;
  margin: 0;
  padding-left: 30px;
  width: calc(100% - 320px);
}

section {
  background: none;
}
